In [1]:
import pandas as pd
import os

In [2]:
filepath = os.path.join("..","Resources","purchase_data.csv")
purchase_df = pd.read_csv(filepath)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#display the total number of players 
total_players = len(purchase_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

In [4]:
# Run basic calculations to obtain number of unique items, average price, etc.
purchase_df["Price"] = purchase_df["Price"].astype(float)
total_revenue = purchase_df["Price"].sum()

average_price = purchase_df["Price"].mean()

number_purchases = purchase_df["Purchase ID"].count()

unique_items = len(purchase_df["Item Name"].unique())

# Create a summary data frame to hold the results
summary_df =pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[average_price], 
                          "Number of Purchases":[number_purchases], "Total Revenue": [total_revenue]})
# Optional: give the displayed data cleaner formatting
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
# Display the summary data frame
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [5]:
#gender demographics
player_gender = purchase_df.loc[(purchase_df["Gender"]=="Male")|(purchase_df["Gender"]=="Female")|(purchase_df["Gender"]=="Other / Non-Disclosed"),["Gender","SN"]]
player_gender = player_gender.drop_duplicates()
gender_count = player_gender["Gender"].value_counts()
gender_percent = (gender_count / total_players)*100
gender_demo_df= pd.DataFrame({"Total Count":gender_count,"Percentage of Players":gender_percent})
gender_demo_df["Percentage of Players"]=gender_demo_df["Percentage of Players"].map("{:.2f}%".format)
gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [6]:
#purchasing gender analysis 
purchase_count = purchase_df.groupby('Gender')["Item ID"].count()
avg_purchase_price = purchase_df.groupby("Gender")["Price"].mean()
total_purchase_value = purchase_df.groupby("Gender")["Price"].sum()
avg_purchase_person =  total_purchase_value/gender_count 

summary_gender_df = pd.DataFrame({"Purchase Count":purchase_count,
                      "Avergae Purchase Price": avg_purchase_price,
                      "Total Purchase Value":total_purchase_value,
                      "Average Purchase Per Person":avg_purchase_person})
summary_gender_df["Avergae Purchase Price"]=summary_gender_df["Avergae Purchase Price"].map("${:.2f}".format)
summary_gender_df["Total Purchase Value"]=summary_gender_df["Total Purchase Value"].map("${:,.2f}".format)
summary_gender_df["Average Purchase Per Person"]=summary_gender_df["Average Purchase Per Person"].map("${:.2f}".format)
summary_gender_df

,Purchase Count,Avergae Purchase Price,Total Purchase Value,Average Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [7]:
#age demographics
clean_df = purchase_df.drop_duplicates("SN")
bins = [0,9,14,19,24,29,34,39,46]
group_names =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
clean_df["Age Groups"]=pd.cut(clean_df["Age"],bins,labels=group_names)
age_df = clean_df.groupby("Age Groups")
age_count = age_df["Gender"].count()
percentage_players = (age_count/total_players)*100
summary_df =pd.DataFrame({"Total Count" :age_count,"Percentage of Players":percentage_players})
summary_df["Percentage of Players"]=summary_df["Percentage of Players"].map("{:.2f}%".format)
summary_df

<ipython-input-7-8dabb799b669>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df["Age Groups"]=pd.cut(clean_df["Age"],bins,labels=group_names)

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [8]:
#purchasing age analysis 
bins = [0,9,14,19,24,29,34,39,46]
group_names =["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_df["Age Groups"]=pd.cut(purchase_df["Age"],bins,labels=group_names)
age_purchase_count = purchase_df.groupby("Age Groups")["Item ID"].count()
age_avg_purchase_price = purchase_df.groupby("Age Groups")["Price"].mean()
age_total_purchase_value = purchase_df.groupby("Age Groups")["Price"].sum()
age_avg_purchase_person = age_total_purchase_value/age_count
age_summary_df = pd.DataFrame({"Purchase Count":age_purchase_count,
                              "Average Purchase Price":age_avg_purchase_price,
                              "Total Purchase Value": age_total_purchase_value,
                               "Avg Total Purchases Per Person":age_avg_purchase_person})

age_summary_df["Average Purchase Price"] =age_summary_df["Average Purchase Price"].map("${:.2f}".format)
age_summary_df["Total Purchase Value"] =age_summary_df["Total Purchase Value"].map("${:,.2f}".format)
age_summary_df["Avg Total Purchases Per Person"] =age_summary_df["Avg Total Purchases Per Person"].map("${:.2f}".format)
age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchases Per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [9]:
# top spenders
sn_purchase_count = purchase_df.groupby("SN")["Item ID"].count()
sn_avg_price = purchase_df.groupby("SN")["Price"].mean()
sn_total_price = purchase_df.groupby("SN")["Price"].sum()
sn_summary_df = pd.DataFrame({"Purchase Count":sn_purchase_count,
                             "Average Purchase Price":sn_avg_price,
                            "Total Purchase Value":sn_total_price})
sorted_df= sn_summary_df.sort_values(["Total Purchase Value"],ascending=False)
sorted_df["Average Purchase Price"]=sorted_df["Average Purchase Price"].map("${:.2f}".format)
sorted_df["Total Purchase Value"] = sorted_df["Total Purchase Value"].map("${:.2f}".format)
sorted_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10