In [1]:
import pandas as pd
import os

In [2]:
filepath = os.path.join("..","Resources","purchase_data.csv")
purchase_df = pd.read_csv(filepath)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#display the total number of players 
total_players = len(purchase_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

In [13]:
# Run basic calculations to obtain number of unique items, average price, etc.
purchase_df["Price"] = purchase_df["Price"].astype(float)
total_revenue = purchase_df["Price"].sum()

average_price = purchase_df["Price"].mean()

number_purchases = purchase_df["Purchase ID"].count()

unique_items = len(purchase_df["Item Name"].unique())

# Create a summary data frame to hold the results
summary_df =pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[average_price], 
                          "Number of Purchases":[number_purchases], "Total Revenue": [total_revenue]})
# Optional: give the displayed data cleaner formatting
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
# Display the summary data frame
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77